<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-eval' 'self' 'unsafe-inline'">

<style type="text/css">
	html, body { margin:0px; padding:0px }

	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #303030;
	}
</style>

<canvas id="canvas"></canvas>

<script type="text/javascript" src="./scripts/boilerplate.js"></script>
<script type="text/javascript" src="./scripts/main.js"></script>

<script type="text/javascript" src="./scripts/math.js"></script>
<script type="text/javascript" src="./scripts/sprite.js"></script>
<script type="text/javascript" src="./scripts/ship.js"></script>

<script type="text/javascript" src="./scripts/light.js"></script>
<script type="text/javascript" src="./scripts/entrypoint.js"></script>
<script type="text/javascript" src="./scripts/shell.js"></script>

<script type="text/javascript" src="./scripts/tower.js"></script>
<script type="text/javascript" src="./scripts/patrolship.js"></script>
<script type="text/javascript" src="./scripts/fort.js"></script>
<script type="text/javascript" src="./scripts/tanker.js"></script>
<script type="text/javascript" src="./scripts/destroyer.js"></script>

<script type="text/javascript" src="./scripts/city.js"></script>

<script type="text/javascript" src="./scripts/M_RadioTower.js"></script>
<script type="text/javascript" src="./scripts/M_drone.js"></script>
<script type="text/javascript" src="./scripts/M_vessel.js"></script>

<script type="text/javascript" src="./scripts/advanced_rl.js"></script>

<script type="text/javascript" src="./scripts/generate_background.js"></script>

<!--

	Gameplay

-->
<script type="text/javascript" src="./scripts/gameplay.js"></script>